<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardappio.cardappiocustomer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="CardAPPioCustomer"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cardappio.cardappiocustomer.CategoriesActivity"
            android:label="Categorias" >
            
        </activity>
        <activity
            android:name="com.cardappio.cardappiocustomer.Orders"
            android:label="@string/title_activity_orders" >
        </activity>
        <activity
            android:name="com.cardappio.cardappiocustomer.MainActivity"
            android:label="@string/app_name" 
            android:noHistory="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cardappio.cardappiocustomer.ProductsListActivity"
            android:label="@string/title_activity_products_list"
            android:parentActivityName="com.cardappio.cardappiocustomer.CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cardappio.cardappiocustomer.CategoriesActivity" />
        </activity>
        <activity
            android:name="com.cardappio.cardappiocustomer.ProductActivity"
            android:label="@string/title_activity_product" >
            android:parentActivityName="com.cardappio.cardappiocustomer.CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cardappio.cardappiocustomer.CategoriesActivity" />
        </activity>
    </application>

</manifest>
